.banner {
    @include xy-grid;
    background-image: url("../img/banner.jpg");
    min-height: rem_calc(708px);
    background-position: center right;
    background-repeat: no-repeat;

    &__content {
        @include xy-cell(6, $breakpoint: auto);
        @include xy-cell-offset(1);
        padding-top: rem_calc(165px);


    }

    &__title {
        line-height: rem_calc(54px);
        margin-bottom: rem_calc(24px);
    }

    &__text {
        font-size: rem_calc(24px);
        line-height: rem_calc(32px);
        letter-spacing: rem_calc(0.6px);

    }

    &__btn {
        margin-top: rem_calc(60px);
    }

}