.header {
    box-shadow: rem_calc(0 4px 16px) rgba(233, 238, 241, 0.6);
    padding: rem_calc(16px 0);

    &__wrapper {
        @include xy-grid-container();
        @include xy-grid;
        align-items: center;
    }

    &__logo {
        @include xy-cell(2, $breakpoint: auto);

        img {
            width: rem_calc(113px);
            height: rem_calc(48px);
        }
    }

    &__menu {
        @include xy-cell(8, $breakpoint: auto);

        &-list {
            display: flex;
            justify-content: space-between;
            margin: 0;

        }

        &-item {
            list-style-type: none;
            position: relative;
            padding: rem_calc(10px 0);

            .icon {
                transform: rotate(0);
                transition: transform 0.6s;
            }

            &:hover .icon {
                transform: rotate(180deg);
            }
        }

        &-link {
            color: #001A34;

        }



    }



    &__btn {
        @include xy-cell(2, $breakpoint: auto);
        text-align: right;

        &-contacts {
            align-items: center;
            padding: rem_calc(12px 24px);
            background: #E5F5FF;
            border-radius: rem_calc(30px);
            letter-spacing: rem_calc(0.5px);
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #ccebff;
            }
        }


    }

}

.header-dropdown {
    display: none;
    padding: rem_calc(32px 24px);
    position: absolute;
    top: rem_calc(40px);
    background: #FFFFFF;
    border: 1px solid #EFF3F6;
    box-sizing: border-box;
    box-shadow: rem_calc(0 4px 16px) rgba(233, 238, 241, 0.6);
    border-radius: rem_calc(12px);
    margin: 0;
    list-style-type: none;

    &__item:not(:last-child) {
        margin-bottom: rem_calc(24px);
    }

    &__link {
        font-weight: 500;
        letter-spacing: rem_calc(0.6px);
        color: #001A34;
    }

    &__submenu {
        padding-top: rem_calc(16px);
        margin: 0;
        list-style-type: none;


        &-item:not(:last-child) {
            margin-bottom: rem_calc(12px);
        }

        &-link {
            letter-spacing: rem_calc(0.4px);
            color: #667585;
        }

    }


}