.help {
    width: 1176px;
    margin: 0 auto;

    &__title {
        font-size: 46px;
        line-height: 54px;
        text-align: center;
        letter-spacing: 0.8px;
    }

    &__text {
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.6px;
        margin-bottom: 80px;
        margin-top: 12px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__block {
        &:last-child {
            padding-right: 90px;
        }

        &_middle {
            padding-left: 30px;
        }
    }

    &__block-text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1.4px;
        margin-bottom: 2px;
    }

    &__block-feature {
        font-family: 'GT Eesti Pro Display';
        font-weight: 500;
        font-size: 46px;
        line-height: 54px;
        display: flex;
        align-items: center;
        letter-spacing: 0.8px;
    }
}