.help {

    width: rem_calc(1176px);
    margin: 0 auto;
    padding-top: rem_calc(40px);

    &__title {
        font-size: rem_calc(46px);
        line-height: rem_calc(54px);
        text-align: center;
        letter-spacing: 0.8px;
    }

    &__text {
        font-size: rem_calc(24px);
        line-height: rem_calc(32px);
        text-align: center;
        letter-spacing: 0.6px;
        margin-bottom: rem_calc(80px);
        margin-top: rem_calc(12px);
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__block {
        &:last-child {
            padding-right: rem_calc(90px);
        }

        &_middle {
            padding-left: rem_calc(30px);
        }
    }

    &__block-text {
        font-size: rem_calc(20px);
        line-height: rem_calc(28px);
        letter-spacing: 1.4px;
        margin-bottom: rem_calc(2px);
    }

    &__block-feature {
        font-family: 'GT Eesti Pro Display';
        font-weight: 500;
        font-size: rem_calc(46px);
        line-height: rem_calc(54px);
        display: flex;
        align-items: center;
        letter-spacing: 0.8px;
    }
}