.packages {
    padding-top: rem_calc(120px);

    &__title {
        text-align: center;
        letter-spacing: 0.8px;
        margin-bottom: rem_calc(75px);
    }

    &__tabs {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }

    &__tabs-title {
        a {
            display: block;
            font-size: 36px;
            line-height: 42px;
            letter-spacing: 0.8px;
            color: #A6A6A6;
            font-family: GT Eesti Pro Display;
            font-weight: 500;
            outline: none;
            min-width: 470px;
            text-align: center;
            border-bottom: 4px solid#DEE5EA;
            padding-bottom: 12px;

        }

        &.is-active a {
            border-bottom: 4px solid #005BFF;
            color: #001A34;
        }

    }

    &__tabs-content {
        width: rem_calc(1200px);
        margin: 0 auto;
        padding-top: 89px;
    }

    &__tabs-panel {
        display: none;

        &.is-active {
            display: block;
        }
    }

}

.package-tab {


    &__top-container {
        @include xy-grid;
        margin-bottom: 92px;
    }

    &__left {
        @include xy-cell(8, $breakpoint: auto);
        z-index: 1;
    }

    &__right {
        @include xy-cell(4, $breakpoint: auto);
        z-index: 0;
    }

    &__title {
        margin-bottom: 37px;
        letter-spacing: 0.8px;
    }

    &__subtitle {
        letter-spacing: 0.6px;
        color: #000000;
        margin-bottom: 20px;

        &_small {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }

    &__text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.857143px;
        color: #000000;

    }

    &__img {
        margin-top: 20px;
        width: 420px;
        max-width: initial;
        margin-left: -37px;

    }

    &__columns {
        @include xy-grid;
    }

    &__column {
        @include xy-cell(4, $breakpoint: auto);
    }

    &__column-title {
        margin-bottom: 40px;
        letter-spacing: 0.6px;

    }


    &__document {
        margin-bottom: 24px;
    }


    &__link {
        display: inline-block;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.4px;

        span {
            vertical-align: middle;
        }
    }

    .list {
        margin-bottom: 45px;
    }

    .list__item {
        margin-bottom: 22px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.4px;
    }


}

.package-card {
    padding: 32px 26px 24px 40px;
    background: #FFFFFF;
    border: 1px solid #E9EEF1;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(233, 238, 241, 0.6);
    border-radius: 16px;
    margin-bottom: 25px;

    &_blue {
        box-shadow: none;
        border: none;
        background: #E5F5FF;
    }

    &__title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.6px;
        margin-bottom: 16px;
    }

    &__bonus {
        padding-top: 24px;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.6px;
        font-family: "GT Eesti Pro Display";
        font-weight: 500;
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__percent {
        font-size: 30px;
        line-height: 36px;
    }

    &__text {
        letter-spacing: 0.4px;
        font-size: 20px;
        line-height: 28px;
    }
}