.packages {
    padding-top: rem_calc(120px);
    padding-bottom: rem_calc(80px);

    @include breakpoint (medium only) {
        padding-top: rem_calc(77px);
    }


    &__title {
        text-align: center;
        letter-spacing: 0.8px;
        margin-bottom: rem_calc(75px);

        @include breakpoint (medium only) {
            margin-bottom: rem_calc(32px);
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        list-style-type: none;

        @include breakpoint (medium only) {
            margin-left: 0;
        }
    }

    &__tabs-title {
        a {
            display: block;
            font-size: rem_calc(36px);
            line-height: rem_calc(42px);
            letter-spacing: 0.8px;
            color: #A6A6A6;
            font-family: GT Eesti Pro Display;
            font-weight: 500;
            outline: none;
            min-width: rem_calc(470px);
            text-align: center;
            border-bottom: 4px solid#DEE5EA;
            padding-bottom: rem_calc(12px);

            @include breakpoint (medium only) {
                font-size: rem_calc(24px);
                line-height: rem_calc(28px);
                letter-spacing: rem_calc(0.6px);
                padding-bottom: rem_calc(8px);
                min-width: rem-calc(376px);
            }
        }

        &.is-active a {
            border-bottom: 4px solid #005BFF;
            color: #001A34;
        }

    }

    &__tabs-content {
        width: rem_calc(1200px);
        margin: 0 auto;
        padding-top: rem_calc(89px);

        @include breakpoint (medium only) {
            padding-top: rem_calc(104px);
            width: 100%;
        }
    }

    &__tabs-panel {
        display: none;

        &.is-active {
            display: block;
        }
    }

    &__gallery {
        width: rem_calc(1176px);
        margin: 0 auto;

        @include breakpoint (medium only) {
            margin-top: rem_calc(38px);
        }
    }

    &__gallery-title {
        margin-bottom: rem_calc(40px);

        @include breakpoint (medium only) {
            font-size: rem_calc(20px);
            line-height: rem_calc(26px);
            letter-spacing: rem_calc(0.6px);
        }
    }

    &__gallery-inner {
        display: flex;
        justify-content: space-between;
    }

    &__gallery-item {
        display: block;
        width: rem_calc(216px);
        height: rem_calc(164px);
    }

    &__gallery-image {
        border-radius: rem_calc(12px);
    }

}

.package-tab {


    &__top-container {
        @include xy-grid;
        margin-bottom: rem_calc(92px);

        @include breakpoint (medium only) {
            margin-bottom: rem_calc(60px);
        }
    }

    &__left {
        @include xy-cell(8, $breakpoint: auto);
        z-index: 1;

        @include breakpoint (medium only) {
            @include xy-cell(7);
        }
    }

    &__right {
        @include xy-cell(4, $breakpoint: auto);
        z-index: 0;

        @include breakpoint (medium only) {
            @include xy-cell(5);
        }
    }

    &__title {
        margin-bottom: rem_calc(37px);
        letter-spacing: 0.8px;
    }

    &__subtitle {
        letter-spacing: 0.6px;
        color: #000000;
        margin-bottom: rem_calc(20px);

        @include breakpoint (medium only) {
            font-size: rem_calc(22px);
            line-height: rem_calc(26px);
            letter-spacing: rem_calc(0.6px);
            margin-bottom: rem_calc(27px);
        }

        &_small {
            font-size: rem_calc(24px);
            line-height: rem_calc(28px);
            margin-bottom: rem_calc(20px);

            @include breakpoint (medium only) {
                font-size: rem_calc(22px);
                line-height: rem_calc(26px);
                letter-spacing: rem_calc(0.6px);

            }

        }
    }

    &__text {
        font-size: rem_calc(20px);
        line-height: rem_calc(28px);
        letter-spacing: 0.857143px;
        color: #000000;

        @include breakpoint (medium only) {
            font-size: rem_calc(16px);
            line-height: rem_calc(22px);
            letter-spacing: rem_calc(0.4px);
        }

    }

    &__img {
        margin-top: rem_calc(20px);
        width: rem_calc(420px);
        max-width: initial;
        margin-left: rem_calc(-37px);

    }

    &__columns {
        @include xy-grid;
    }

    &__column {
        @include xy-cell(4, $breakpoint: auto);
    }

    &__column-title {
        margin-bottom: rem_calc(40px);
        letter-spacing: 0.6px;

        @include breakpoint (medium only) {
            font-size: rem_calc(18px);
            line-height: rem_calc(22px);
            letter-spacing: rem_calc(0.6px);
        }

    }


    &__document {
        margin-bottom: rem_calc(24px);
    }


    &__link {
        display: inline-block;
        font-size: rem_calc(18px);
        line-height: rem_calc(26px);
        letter-spacing: 0.4px;

        span {
            vertical-align: middle;
        }
    }

    .list {
        margin-bottom: rem_calc(45px);
    }

    .list__item {
        margin-bottom: rem_calc(22px);
        font-size: rem_calc(20px);
        line-height: rem_calc(28px);
        letter-spacing: 0.4px;

        @include breakpoint (medium only) {
            font-size: rem_calc(16px);
            line-height: rem_calc(22px);
            letter-spacing: rem_calc(0.4px);
            margin-bottom: rem_calc(27px);
        }
    }


}

.package-card {
    padding: rem_calc(32px 26px 24px 40px);
    background: #FFFFFF;
    border: 1px solid #E9EEF1;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(233, 238, 241, 0.6);
    border-radius: rem_calc(16px);
    margin-bottom: rem_calc(25px);

    @include breakpoint (medium only) {
        padding: rem_calc(47px 40px);
    }

    &_blue {
        box-shadow: none;
        border: none;
        background: #E5F5FF;

        @include breakpoint (medium only) {
            padding: rem_calc(40px);
        }
    }

    &__title {
        font-size: rem_calc(24px);
        line-height: rem_calc(28px);
        letter-spacing: 0.6px;
        margin-bottom: rem_calc(16px);
    }

    &__bonus {
        padding-top: rem_calc(24px);
        font-size: rem_calc(20px);
        line-height: rem_calc(36px);
        letter-spacing: 0.6px;
        font-family: "GT Eesti Pro Display";
        font-weight: 500;
        margin-bottom: rem_calc(8px);

        @include breakpoint (medium only) {
            font-size: rem_calc(18px);
            line-height: rem_calc(22px);
            letter-spacing: rem_calc(0.6px);
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    &__percent {
        font-size: rem_calc(30px);
        line-height: rem_calc(36px);
    }

    &__text {
        letter-spacing: 0.4px;
        font-size: rem_calc(20px);
        line-height: rem_calc(28px);
    }
}