.statistics {
    margin: rem_calc(0 11px);
    @include xy-grid;
    background-color: #337CFF;
    font-size: rem_calc(22px);
    line-height: rem_calc(30px);
    letter-spacing: rem_calc(0.6px);
    color: #FFFFFF;
    padding: rem_calc(80px 0);


    @include breakpoint (medium only) {
        margin: rem_calc(0 -16px);
        font-weight: 300;
        font-size: rem_calc(18px);
        line-height: rem_calc(26px);
        letter-spacing: rem_calc(0.4px);
        padding: rem_calc(110px 16px);

    }

    &__index {
        @include xy-cell(2, $breakpoint: auto);

        @include breakpoint (medium only) {
            @include xy-cell(3);
        }

        &:first-child {
            @include xy-cell-offset(2);

            @include breakpoint (medium only) {
                @include xy-cell-offset(0);
            }
        }

        p {
            margin-bottom: 0;
        }



    }

    &__index-number {
        display: inline-block;
        font-weight: bold;
        font-size: rem_calc(57px);
        line-height: rem_calc(68px);
        letter-spacing: rem_calc(1px);
        font-family: GT Eesti Pro Display;
        margin-bottom: rem_calc(12px);

        @include breakpoint (medium only) {
            font-weight: 500;
            font-size: rem_calc(46px);
            line-height: rem_calc(54px);
            letter-spacing: rem_calc(0.8px);

        }
    }


}