.statistics {
    margin: rem_calc(0 11px);
    @include xy-grid;
    background-color: #337CFF;
    font-size: rem_calc(22px);
    line-height: rem_calc(30px);
    letter-spacing: rem_calc(0.6px);
    color: #FFFFFF;
    padding: rem_calc(80px 0);

    &__index {
        @include xy-cell(2, $breakpoint: auto);

        &:first-child {
            @include xy-cell-offset(2);
        }

        p {
            margin-bottom: 0;
        }

    }

    &__index-number {
        display: inline-block;
        font-weight: bold;
        font-size: rem_calc(57px);
        line-height: rem_calc(68px);
        letter-spacing: rem_calc(1px);
        font-family: GT Eesti Pro Display;
        margin-bottom: rem_calc(12px);
    }


}