.why {
    &__title {
        text-align: center;
        padding: rem_calc(70px 0 80px 0);
        letter-spacing: rem_calc(0.8px);
        margin-bottom: 0;
    }
    
    &__card-full-blue {
        position: relative;
        background: #337CFF;
        border-radius: rem_calc(12px);
        color: #fff;
        text-align: center;
        transition: 0.2s;
        font-size: rem_calc(22px);
        line-height: rem_calc(26px);
        letter-spacing: rem_calc(0.6px);
        padding-top: rem_calc(173px);

        &:hover {
            background-color: #0051E4;
            color: #EFF3F6;

        }

    }
}



