.why {
    &__title {
        text-align: center;
        padding: rem_calc(70px 0 80px 0);
        letter-spacing: rem_calc(0.8px);
        margin-bottom: 0;
    }

}

.cards {
    @include xy-grid;
    width: rem_calc(1200px);
    margin: 0 auto;

    &__item {
        @include xy-cell(4, $breakpoint: auto);
        border: 1px solid #E9EEF1;
        box-sizing: border-box;
        box-shadow: rem_calc(2px 2px 20px) #E9EEF1;
        border-radius: rem_calc(12px);
        padding: rem_calc(32px 24px 40px);
        margin-bottom: rem_calc(41px);


        &_full-blue {
            position: relative;
            background: #337CFF;
            border-radius: rem_calc(12px);
            color: #fff;
            text-align: center;
            transition: 0.2s;
            font-size: rem_calc(22px);
            line-height: rem_calc(26px);
            letter-spacing: rem_calc(0.6px);
            padding-top: rem_calc(173px);

            &:hover {
                background-color: #0051E4;
                color: #EFF3F6;

            }

        }

    }

    

    &__title {
        margin-top: rem_calc(25px);
        margin-bottom: rem_calc(5px);
    }

    &__sub-title {
        font-family: GT Eesti Pro Display;
        font-size: rem_calc(22px);
        font-weight: 500;
        line-height: rem_calc(26px);
        letter-spacing: rem_calc(0.6px);


    }

    &__text {
        margin-top: rem_calc(36px);
        font-size: rem_calc(18px);
        line-height: rem_calc(26px);
        letter-spacing: rem_calc(0.4px);
        color: #33475C;

    }

    &__icon-container {
        background: #E0EBFF;
        border-radius: rem_calc(12px);
        width: rem_calc(72px);
        height: rem_calc(72px);
        position: relative;


    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__item-arrow{
        margin-top: rem_calc(36px);
    }
}