@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import '_fonts';


// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
// @include foundation-button;

// @include foundation-button-group;
// @include foundation-close-button;
// @include foundation-label;
// @include foundation-progress-bar;
@include foundation-slider;
// @include foundation-switch;
// @include foundation-table;
// // Basic components
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-header-dropdown;
// @include foundation-pagination;
// @include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
// @include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
// @include foundation-header-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;




html {
    font-size: 1.08696vw;

    @include breakpoint(large) {
        font-size: 16px;
    }
}

.main__wrapper {
    @include xy-grid-container();
}


.cards {
    @include xy-grid;
    width: rem_calc(1200px);
    margin: 0 auto;

    &__item {
        @include xy-cell(4, $breakpoint: auto);
        border: 1px solid #E9EEF1;
        box-sizing: border-box;
        box-shadow: rem_calc(2px 2px 20px) #E9EEF1;
        border-radius: rem_calc(12px);
        padding: rem_calc(32px 24px 40px);
        margin-bottom: rem_calc(41px);



    }



    &__title {
        margin-top: rem_calc(25px);
        margin-bottom: rem_calc(5px);

    }

    &__sub-title {
        font-family: GT Eesti Pro Display;
        font-size: rem_calc(22px);
        font-weight: 500;
        line-height: rem_calc(26px);
        letter-spacing: rem_calc(0.6px);


    }

    &__text {
        margin-top: rem_calc(36px);
        font-size: rem_calc(18px);
        line-height: rem_calc(26px);
        letter-spacing: rem_calc(0.4px);
        color: #33475C;

    }

    &__icon-container {
        background: #E0EBFF;
        border-radius: rem_calc(12px);
        width: rem_calc(72px);
        height: rem_calc(72px);
        position: relative;


    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__item-arrow {
        margin-top: rem_calc(36px);
    }
}

.list {
    margin: 0;

    &__item {
        font-size: rem_calc(18px);
        line-height: rem_calc(26px);
        letter-spacing: 0.4px;
        margin-bottom: rem_calc(24px);
        list-style-type: none;
        position: relative;
        padding-left: rem_calc(36px);

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: rem_calc(10px);
            display: block;
            width: rem_calc(18px);
            height: rem_calc(2px);
            background-color: #001A34;
            border-radius: rem_calc(100px);

        }
    }
}



.btn {
    background: #005BFF;
    border-radius: rem_calc(8px);
    text-align: center;
    letter-spacing: rem_calc(0.7px);
    color: #FFFFFF;
    padding: rem_calc(22px 61px);
    font-size: rem_calc(22px);
    line-height: rem_calc(20px);
    display: inline-block;
    transition: 0.3s;

    &:hover {
        background-color: #0051E4;
        color: #EFF3F6;
    }

    &:active {
        background-color: #0041B8;
        color: #EFF3F6;
    }

    &:visited {
        color: #FFFFFF;
    }

    &:disabled {
        background-color: #E9EEF1;
        color: #99A3AD;
        opacity: 0.6;
        cursor: not-allowed;
    }

    &_black {
        background: #001A34;

        &:hover {
            color: #E9EEF1;
        }

        &:active {
            color: #CCD4DB;
        }
    }

    &_white {
        color: #005BFF;
        background: #FFFFFF;

        &:hover {
            color: #0041B8;
        }

        &:active {
            color: #001A34;
        }
    }
}

.icon {
    display: inline-block;
    background-size: cover;

    &_arrow {
        background-image: url("../img/arrow.svg");
        width: rem_calc(13px);
        height: rem_calc(8px);
    }

    &_arrow-right {
        background-image: url("../img/icons/arrowRight.svg");
        width: rem_calc(72px);
        height: rem_calc(15px);
    }

    &_pig {
        background-image: url("../img/icons/pig.svg");
        width: rem_calc(32px);
        height: rem_calc(32px);
    }

    &_clock {
        background-image: url("../img/icons/clock.svg");
        width: rem_calc(32px);
        height: rem_calc(32px);
    }

    &_rub {
        background-image: url("../img/icons/rub.svg");
        width: rem_calc(32px);
        height: rem_calc(32px);
    }

    &_blank {
        background-image: url("../img/icons/blank.svg");
        width: rem_calc(32px);
        height: rem_calc(32px);
    }

    &_car {
        background-image: url("../img/icons/car.svg");
        width: rem_calc(32px);
        height: rem_calc(32px);
    }

    &_mark {
        background-image: url("../img/icons/mark.svg");
        width: rem_calc(24px);
        height: rem_calc(29px);
    }

    &_face {
        background-image: url("../img/icons/face.svg");
        width: rem_calc(28px);
        height: rem_calc(29px);
    }

    &_star {
        background-image: url("../img/icons/star.svg");
        width: rem_calc(30px);
        height: rem_calc(30px);
    }

    &_document {
        background-image: url("../img/icons/document.svg");
        width: rem_calc(24px);
        height: rem_calc(24px);
    }

}

.slider {
    height: rem_calc(2px);
    background: #DEE5EA;
    border-radius: rem_calc(20px);
    margin-bottom: rem_calc(10px);

    &-handle {
        width: rem_calc(20px);
        height: rem_calc(20px);
        background: #005BFF;
        border-radius: 50%;
    }

    &-fill {
        height: rem_calc(2px);
        background: #005BFF;
        border-radius: rem_calc(20px);
    }
}

.swiper-slider {
    position: relative;

    &__arrow {
        width: rem_calc(16px);
        height: rem_calc(16px);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        margin-top: rem_calc(-8px);
        cursor: pointer;


        &_left {
            left: rem_calc(-90px);
            background-image: url('../img/icons/arrowLeft.svg');
        }

        &_right {
            right: rem_calc(-90px);
            background-image: url('../img/icons/arrowRight2.svg');
        }
    }
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__label {
        display: block;
        position: relative;

        &:hover {
            cursor: pointer;
        }
    }

    &__input-container {
        width: rem_calc(376px);
        margin-bottom: rem_calc(20px);


    }

    &__input {
        background: #FFFFFF;
        border: 1px solid #DEE5EA;
        box-sizing: border-box;
        border-radius: rem_calc(6px);
        padding: rem_calc(27px 20px 7px);
        font-family: GT Eesti Pro Display;
        font-size: rem_calc(18px);
        line-height: rem_calc(24px);
        letter-spacing: 0.7px;
        height: initial;

        &:hover {
            cursor: pointer;
        }
    }

    &__placeholder {
        position: absolute;
        font-family: GT Eesti Pro Display;
        font-size: rem_calc(18px);
        line-height: rem_calc(24px);
        letter-spacing: 0.7px;
        color: #667585;
        top: rem_calc(20px);
        left: rem_calc(20px);
        transition: 0.2s linear;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;


        &_focus {
            top: rem_calc(7px);
            font-size: rem_calc(14px);

        }
    }

    &__hint {
        font-family: GT Eesti Pro Text;
        font-size: rem_calc(14px);
        line-height: rem_calc(18px);
        letter-spacing: 0.5px;
        color: #99A3AD;
        margin-top: rem_calc(20px);
    }



}

.select2-container--default .select2-selection--single {
    border: 1px solid #DEE5EA;
    height: rem_calc(59px);
    border-radius: rem_calc(6px);
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    border: 1px solid #8a8a8a;
}

.select2-container--default .select2-selection--single {
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #001A34;
    padding: rem_calc(18px 20px 7px);
    font-family: GT Eesti Pro Display;
    font-size: rem_calc(18px);
    line-height: rem_calc(24px);
    letter-spacing: 0.7px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #667585;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url('../img/icons/arrowDropdown.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: rem_calc(17px);
    height: rem_calc(16px);
    top: 50%;
    margin-top: rem_calc(-8px);
    right: rem_calc(20px);
    transition: 0.3s linear;

}

.select2-container--open .select2-selection__arrow {
    transform: rotate(180deg);
}

@import 'header';
@import 'banner';
@import 'statistics';
@import 'why';
@import 'reasons';
@import 'support';
@import 'partners';
@import 'packages';
@import 'from-you';
@import 'help';
@import 'calc';
@import 'request';